@using Models
@model BaiVietPaging

<link rel="stylesheet" type="text/css" href="~/Content/assetkh/styles/main_styles.css">
@if (Model.ListBaiViet != null && Model.ListBaiViet.Any())
{
    foreach (var item in Model.ListBaiViet)
    {
        if (item.IsActive)
        {
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="@Url.Action("Details", "BaiViet", new { id = item.Id })" title="@item.TenBaiViet">
                            <img src="@Url.Content(item.FilePath)" alt="@item.TenBaiViet" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content-box">
                        <h3>
                            <a href="@Url.Action("Details", "BaiViet", new { id = item.Id })" title="@item.TenBaiViet">
                                @item.TenBaiViet
                            </a>
                        </h3>
                        <div class="description-box">
                            @item.MoTa
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6" style="text-align:right;">
            <div id="pagination"></div>
        </div>
    </div>
}
<script src="~/Content/assetkh/js/jquery-3.2.1.min.js"></script>

