@using Models
@model SanPhamPaging

@if (Model.ListSanPham != null && Model.ListSanPham.Any())
{
    var uniqueItems = Model.ListSanPham.GroupBy(x => x.Id).Select(g => g.First()).ToList();

    foreach (var item in uniqueItems)
    {
        <div class="product-item @item.MaDanhMucSP">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@Url.Content(@item.FilePath)" alt="@item.MaSanPham">
                </div>
                <div class="favorite favorite_left"></div>
                @if (item.PhanTramGiam > 0)
                {
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                }
                <div class="product_info">
                    <h6 class="product_name"><a href="/chi-tiet/@item.TenSanPham-p@(item.Id)">@item.TenSanPham</a></h6>
                    @if (item.PhanTramGiam > 0)
                    {
                        <div class="product_price"><span>@item.GiaGoc</span></div>
                    }
                    else
                    {
                        <div class="product_price">@item.GiaGoc</div>
                    }
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>
        </div>
    }
}
<script src="~/Content/assetkh/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/Content/assetkh/js/custom.js"></script>
